<div class="footer pt-5 pb-5 mt-3">
    <div class="container d-flex justify-content-between px-5">
        <div class="d-flex align-items-center">
            <div>
                <h2 class="mb-4">Bloggit</h2>
                <p class="mb-4">
                    Share your thoughts and adventures with the world!<br>
                    Bloggit is the place where people come together to have the<br>
                    most authentic and interesting conversations on the internet.
                </p>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="d-flex">
                <div class="me-5">
                    <p class="bold-text mb-4"><a href="/">Home</a></p>
                    <p class="bold-text mb-4"><a href="/comingsoon">Advertising</a></p>
                    <p class="bold-text"><a href="/comingsoon">Help</a></p>
                </div>
                <div>
                    <p class="bold-text mb-4"><a href="/comingsoon">About Us</a></p>
                    <p class="bold-text mb-4"><a href="/comingsoon">Contact Us</a></p>
                    <p class="bold-text"><a href="/comingsoon">Careers</a></p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="subscribe">
                <p class="mb-4">Subscribe to our monthly newsletter!</p>
                <div class="d-flex align-items-center">
                    <input type="email" placeholder="Enter your email adress">
                    <button type="submit" class="subscribe-button"><strong>Subscribe</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright pt-3 pb-3">
    <p>© 2022 Bloggit. All rights reserved.</p>
</div>

@code {

}
