<div class="small-banner">
    <div class="container d-flex justify-content-between align-items-center px-5">
        <h2 class="cursor-pointer" @onclick="NavigateToHome">Bloggit</h2>

        @if (userId != null)
        {
            <div class="d-flex">
                <a class="small-banner-button me-3" href="/newblogpost">New Blog</a>
                <a class="small-banner-button me-3" href="/logout">Log Out</a>
                <a href="/userpage/@user.UserName" class="d-flex align-items-center logged-in-user">
                    <ion-icon class="pe-2" name="person-circle-outline"></ion-icon>
                    <p class="bold-text">@user.UserName</p>
                </a>
            </div>
        }
        else
        {
            <div>
                <a class="small-banner-button me-3" href="/login">Log In</a>
                <a class="small-banner-button" href="/signup">Sign Up</a>
            </div>
        }
    </div>
</div>

@code {
    private UserModel user = new UserModel();
    private string userId;

    protected override async Task OnInitializedAsync()
    {
        await GetUserAsync();
    }

    private async Task GetUserAsync()
    {
        userId = await sessionStorage.GetItemAsync<string>("UserId");
        if (userId != null)
        {
            var userIdInt32 = Int32.Parse(userId);
            user = await http.GetFromJsonAsync<UserModel>($"https://localhost:44379/api/Users/{userIdInt32}");
        }
    }

    private void NavigateToHome()
    {
        navigationManager.NavigateTo("/");
    }
}
