.blog-container {
    width: 100%;
}

.blog-post p a {
    color: gray;
}

.blog-post a:hover {
    color: #1DA1F2;
}

.comment {
    border-bottom: 1px solid lightgray;
    width: 100%;
}

    .comment [name="person-circle"] {
        font-size: 50px;
        color: gray;
        flex-shrink: 0;
    }

    .comment .likes {
        width: min-content;
    }

    .comment .bold-text {
        font-size: 14px;
    }

    .comment a {
        color: gray;
    }

        .comment a:hover {
            color: #1DA1F2;
        }

.quote {
    border-left: 5px solid lightgray;
    font-size: 12px !important;
}

.disabled-button {
    background-color: #0055A6;
    cursor: not-allowed;
}
